[project]
	description = some c++ code snippet
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Li Jian (hustlijian)
[access "refs/for/refs/*"]
	read = group user/Li Jian (hustlijian)
	push = group user/Li Jian (hustlijian)
	label-Code-Review = -2..+2 group user/Li Jian (hustlijian)
	label-Verified = -1..+1 group user/Li Jian (hustlijian)
	rebase = group user/Li Jian (hustlijian)
	removeReviewer = group user/Li Jian (hustlijian)
	submit = group user/Li Jian (hustlijian)
[access "refs/heads/*"]
	read = group user/Li Jian (hustlijian)
	create = group user/Li Jian (hustlijian)
	push = +force group user/Li Jian (hustlijian)
	pushMerge = group user/Li Jian (hustlijian)
[access "refs/tags/*"]
	push = +force group user/Li Jian (hustlijian)
	pushTag = group user/Li Jian (hustlijian)
	pushSignedTag = group user/Li Jian (hustlijian)
